.modals {
  position: relative;
}

.close {
}

.modal {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 10px;
}

.settingDiceModal {
}

.titleAndClose {
  display: flex;
  justify-content: space-between;
}

/* setting dice */

.minMaxSettingContainer,
.diceStyleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  margin: 5px;
  border: 1px white solid;
}

.minDice,
.maxDice {
  font-size: 40px;
  width: 70px;
}

.diceStyle {
  width: 100px;
  height: auto;
  background-color: white;
}
