header {
  height: 20vh;
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 35px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 4px black dotted;
  padding: 5px;
}
